

.masthead{
    height: 550px;
 background-size: 1370px;
 border: 2px solid;
}
h1 {
   font-size:400% ; 
}
.subheading{
   font-size:150%
}
h2 {
   font-size:250% ;
   text-align: center;
}
.contactus{
   background: url('https://image.freepik.com/free-photo/abstract-blur-luxury-hotel-lobby-background_1339-98452.jpg') no-repeat center center fixed;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 background-size: cover;
 -o-background-size: cover;
}

